<!DOCTYPE html>

@inject IConfigurationLoader _config
@inject IAppIdentityUserManager _usermanager
@inject IGeneralService _gs
@inject SignInManager<AppIdentityUser> _sign

<html lang="fa" class="light-style layout-navbar-fixed layout-menu-fixed" dir="rtl" data-theme="theme-default" data-assets-path="/" data-template="vertical-menu-template">
<head>

    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="description" content="نرم افزار مدیریت مالی گارنِت">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">



    <!-- Icons -->
    <link rel="stylesheet" href="@Url.Content("~/vendor/fonts/boxicons.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/fonts/fontawesome.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/fonts/flag-icons.css")">
    <!-- Core CSS -->
    <link rel="stylesheet" href="@Url.Content("~/vendor/css/rtl/core.css")" class="template-customizer-core-css">
    <link rel="stylesheet" href="@Url.Content("~/vendor/css/rtl/theme-default.css")" class="template-customizer-theme-css">

    <link rel="stylesheet" href="@Url.Content("~/vendor/css/rtl/rtl.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/fonts/farsi-fonts-styles-fa-num/primary-yekanbakh.css")" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="@Url.Content("~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/libs/typeahead-js/typeahead.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/libs/select2/select2.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/libs/dropzone/dropzone.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/libs/datatables-bs5/datatables.bootstrap5.css")">
    <link href="@Url.Content("~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/vendor/libs/sweetalert2/sweetalert2.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/libs/typeahead-js/typeahead.css")">
    <link href="@Url.Content("~/vendor/libs/choices/choices.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/vendor/libs/flatpickr/flatpickr.css")" rel="stylesheet" />
    <link href="@Url.Content("~/vendor/libs/jstree/jstree.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/css/garnetStyles.css")" asp-append-version="true">

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="@Url.Content("~/vendor/js/helpers.js")"></script>

    <script src="@Url.Content("~/vendor/js/template-customizer.js")"></script>
    <script src="@Url.Content("~/js/config.js")"></script>

</head>

<body>
    <div id="loader" class="loader-wrapper">
        <div class="loader"></div>
    </div>
    @{
        var _set = _config.GetConfigurations();

        UserViewModel? user = new UserViewModel();
        string userFullName = "کاربر لاگین نشده";
        string avatarSrc = "~/img/avatars/1.png";
        string userRole = "نامشخص";
        var userSett = await _gs.GetUserSettingAsync(User.Identity.Name);
        string ActiveSeller = userSett.ActiveSellerName;
        string ActivePeriod = userSett.ActiveSellerPeriodName;
        string PeriodLabel = "دوره مالی فعالی وجود ندارد";
        bool hasPeriod = false;
        if (!string.IsNullOrEmpty(ActivePeriod))
        {
            PeriodLabel = " دوره مالی " + ActivePeriod;
            hasPeriod = true;
        }
        var userPermisions = await _gs.UserSettingAsync(User.Identity.Name);
        if (_sign.IsSignedIn(User))
        {
            user = _usermanager.UserInfo(User.Identity.Name);
            userFullName = user.FirstName + " " + user.LastName;

            if (string.IsNullOrEmpty(user.Image))
                avatarSrc = user.Gender == 1 ? "../../img/avatars/1.png" : "../../img/avatars/2.png";
            else
                avatarSrc = "../../img/avatars/" + user.Image;

            var roles = await _usermanager.GetUserRolesVmAsync(user.UserName);
            if (roles.Count > 0)
                userRole = roles.Any(n => n.RoleName.Contains("Admin")) ? "مدیر" : roles.FirstOrDefault().RoleDescription;
        }
    }
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <button id="installPWAButton" style="display: none;">نصب اپلیکیشن</button>
                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
                        <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-divider mt-0"></div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    @if (!User.IsInRole("User"))
                    {
                        <li class="menu-item">
                            <a asp-action="Index" asp-controller="Home" asp-area="" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home"></i>
                                <div data-i18n="Home">صفحه اصلی </div>
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("AccountingManager") || User.IsInRole("AccountingBoss") || User.IsInRole("AccountingUser"))
                    {
                        <li class="menu-item open">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-food-menu"></i>
                                <div data-i18n="Accounting">حسابداری</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a href="javascript:void(0)" data-url="@Url.Action("CreateDocHeader", "OpAccoucnting", new { Area = "" })" class="menu-link newdoc">
                                        <div data-i18n="Accounting Code">ثبت سند حسابداری</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="AccountingDocs" asp-controller="OpAccoucnting" asp-area="" class="menu-link">
                                        <div data-i18n="Accounting Code">اسناد حسابداری</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="GetData" asp-controller="DocCreator" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code">ثبت اسناد سیستمی</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="Index" asp-controller="ConProject" asp-area="Projects" class="menu-link">
                                        <div data-i18n="Project Management">مدیریت پروژها</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                                        <div data-i18n="Accounting Report">گزارشات</div>
                                    </a>
                                    <ul class="menu-sub">
                                        <li class="menu-item">
                                            <a asp-action="AccountBrowserKol" asp-controller="AccReports" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Accounting Code">مرورگر حساب ها</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="TurnoverAccounts" asp-controller="AccReports" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Trunover Accounts">گردش حساب ها</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="ReportRooznameh" asp-controller="AccReports" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Accounting Articles">ریز اسناد</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="TarazAzmayeshi" asp-controller="AccReports" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Accounting Code">تراز آزمایشی</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="CalcProfit" asp-controller="EndOfPeriod" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Tafsil Accounting Groups">سود زیان</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="Print_Balance" asp-controller="AccPrint" asp-area="Accounting" target="_blank" class="menu-link">
                                                <div data-i18n="Accounting Code">ترازنامه</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                                <div data-i18n="Accounting">پرینت دفاتر</div>
                                            </a>
                                            <ul class="menu-sub">
                                                <li class="menu-item">
                                                    <a href="javascript:void(0)" data-url="@Url.Action("DaftarRooznameh", "AccPrint", new { Area = "Accounting" })" class="menu-link callform">
                                                        <div data-i18n="Accounting Articles">  روزنامه</div>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="javascript:void(0)" data-url="@Url.Action("DaftarKol", "AccPrint", new { Area = "Accounting" })" class="menu-link callform">
                                                        <div data-i18n="Accounting Articles">  کـل</div>
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                                        <div data-i18n="Accounting Report">عملیات پایان دوره</div>
                                    </a>
                                    <ul class="menu-sub">

                                        <li class="menu-item">
                                            <a asp-action="CloseTemporaryAccounts" asp-controller="EndOfPeriod" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Accounting Code">بستن حساب های موقت</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="ClosePermanentAccounts" asp-controller="EndOfPeriod" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Tafsil Accounting Groups">بستن حساب های دائم</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="" asp-controller="EndOfPeriod" asp-area="" class="menu-link">
                                                <div data-i18n="Tafsil Accounting Groups">سند اختتامیه</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                                        <div data-i18n="Accounting Report">دستیار</div>
                                    </a>
                                    <ul class="menu-sub">
                                        <li class="menu-item">
                                            <a asp-action="" asp-controller="Assistants" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Accounting Code">ثبت گزارش خرید و فروش سامانه مودیان</div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="BankTransactions" asp-controller="Assistants" asp-area="Accounting" class="menu-link">
                                                <div data-i18n="Bank Accounting Transactions">مدیریت تراکنش های بانکی</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                @if (User.IsInRole("AccountingManager") || User.IsInRole("AccountingBoss"))
                                {
                                    <li class="menu-item">
                                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                                            <div data-i18n="Accounting Report">اطلاعات پایه حسابداری</div>
                                        </a>
                                        <ul class="menu-sub">
                                            <li class="menu-item">
                                                <a asp-action="Groups" asp-controller="AccCoding" asp-area="" class="menu-link">
                                                    <div data-i18n="Accounting Code">گروه بندی و سرفصل حساب ها</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a asp-action="TafsilGroups" asp-controller="AccCoding" asp-area="" class="menu-link">
                                                    <div data-i18n="Tafsil Accounting Groups">گروه های تفصیلی</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a asp-action="TafsilAccounts" asp-controller="AccCoding" asp-area="" class="menu-link">
                                                    <div data-i18n="Tafsil Accounts">حساب های تفصیلی</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a asp-action="FinancePeriods" asp-controller="AccCoding" asp-area="" class="menu-link">
                                                    <div data-i18n="Finance Periods">دوره های مالی</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                                            <div data-i18n="Layouts">سایر امکانات</div>
                                        </a>
                                        <ul class="menu-sub">
                                            <li class="menu-item">
                                                <a asp-action="DocSorting" asp-controller="AccFunc" asp-area="Accounting" class="menu-link">
                                                    <div data-i18n="Sorting Documents">مرتب سازی اسناد</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a asp-action="ImportDocs" asp-controller="AccImport" asp-area="Accounting" class="menu-link">
                                                    <div data-i18n="Accounting Code">ورود گروهی اسناد</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a asp-action="ImportCustomCoding" asp-controller="AccImport" asp-area="Accounting" class="menu-link">
                                                    <div data-i18n="Tafsil Accounting Groups">بارگذاری کدینک از فایل</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a asp-action="DeletedDocs" asp-controller="AccFunc" asp-area="Accounting" class="menu-link">
                                                    <div data-i18n="Sorting Documents">اسناد حذف شده</div>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#" data-url="@Url.Action("LoadCommercialCoding", "AccCoding", new { Area = "" })" data-target="0" class="menu-link accAjaxPost">
                                                    بارگذاری کدینگ پیش فرض
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#" data-url="@Url.Action("SetGroupIdToKol", "AccCoding", new { Area = "" })" data-target="0" class="menu-link accAjaxPost">
                                                    اصلاح شناسه
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#" data-url="@Url.Action("ResetSellerAccountingData", "AccCoding", new { Area = "" })" data-target="0" class="menu-link accAjaxPost">
                                                    حذف همه اطلاعات مالی
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item">
                                        <a asp-action="SellerAccSetting" asp-controller="accsettings" asp-area="Accounting" class="menu-link">
                                            <div data-i18n="Layouts">تنظیمات حسابداری</div>
                                        </a>
                                    </li>

                                }
                            </ul>
                        </li>
                        @if (User.IsInRole("AccountingManager"))
                        {
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-dollar"></i>
                                    <div data-i18n="Accounting">دریافت و پرداخت</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">دریافت</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">اعلامیه پرداخت</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">عملیات بانکی چک دریافتی</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">استرداد چک</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">وصول چک پرداختی</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">تسویه کارت خوان</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">ورود اطلاعات پرینت بانک</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">مغایرت بانکی</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="Banks" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">بانک ها</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="BankAccounts" asp-controller="AccBsKhazaneh" asp-area="" class="menu-link">
                                            <div data-i18n="Accounting Code">حساب های بانکی</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccCoding" asp-area="" class="menu-link">
                                            <div data-i18n="Tafsil Accounting Groups">دسته چک</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="PosList" asp-controller="TreCashBox" asp-area="Treasury" class="menu-link">
                                            <div data-i18n="POSDevice">کارتخوان</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="Index" asp-controller="TreCashBox" asp-area="Treasury" class="menu-link">
                                            <div data-i18n="CashBox">صندوق</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="AccCoding" asp-area="" class="menu-link">
                                            <div data-i18n="Tafsil Accounting Groups">تنخواه دار</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                    @if (User.IsInRole("AccountingManager") || User.IsInRole("AccountingBoss"))
                    {
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-cart-add"></i>
                                <div data-i18n="Accounting Report">حسابداری فروش</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a asp-action="CreditClientsList" asp-controller="AccSaleManagement" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code"> مدیریت مشتریان اعتباری</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="SaleAccounting" asp-controller="AccSaleManagement" asp-area="Accounting" class="menu-link">
                                      
                                        <div data-i18n="Accounting Code">مدیریت بارنامه ها</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="HandleCreditAccounts" asp-controller="AccSaleManagement" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code"> حساب مشتریان اعتباری</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="PartyBills" asp-controller="AccSaleManagement" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code"> گزارش دوره ای مشتریان اعتباری</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="MoneyTransactionsManagement" asp-controller="AccSaleManagement" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code">تراکنش های مالی فروش</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="SaleByClient" asp-controller="AccSaleManagement" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code">سامانه مودیان</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0)" data-url="@Url.Action("MoveAccounts", "AccSaleManagement", new { Area = "Accounting" })" class="menu-link callform">
                                        <div data-i18n="Accounting Code">یکپارچه سازی حساب ها</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="SaleReport" asp-controller="KPDataTransfer" asp-area="DataTransfer" class="menu-link">
                                        <div data-i18n="Accounting Code">اطلاعات سامانه قدیم</div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-cart-add"></i>
                                <div data-i18n="Accounting Report">امور مالی نمایندگان</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a asp-action="BranchesInfo" asp-controller="AccRepresentative" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code">اطلاعات نمایندگان</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="ReperesentativesIncome" asp-controller="AccRepresentative" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code">کارکرد کلی نمایندگان</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="BranchSalary" asp-controller="AccRepresentative" asp-area="Accounting" class="menu-link">
                                        <div data-i18n="Accounting Code"> ریزکاکرد نماینده</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-cart-add"></i>
                            <div data-i18n="Accounting Report">قراردادهای فروش</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a asp-action="Contracts" asp-controller="SaleContract" asp-area="Courier" class="menu-link">
                                    <div data-i18n="Accounting Code">مدیریت قرارداد ها</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-action="ContractsUsers" asp-controller="SaleContract" asp-area="Courier" class="menu-link">
                                    <div data-i18n="Accounting Code">حساب کاربری کارفرمایان</div>
                                </a>
                            </li>
                          
                        </ul>
                    </li>

                  


          @if (User.IsInRole("courier"))
                    {
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-male-female"></i>
                                <div data-i18n="Keyhan Post">اطلاعات پایه  </div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a asp-action="CourierSrvices" asp-controller="CourierService" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Branch list">سرویس ها</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="Hubs" asp-controller="Hub" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Branch list">هاب</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="CourierRoutes" asp-controller="CourierService" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Branch list"> مسیرهای داخلی</div>
                                    </a>
                                </li>
                                <!-- لینک مدیریت رنج‌های وزنی -->
                                <li class="menu-item">
                                    <a asp-action="RateWeightRanges" asp-controller="Pricing" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Rate Weight Ranges"> رنج‌های وزنی</div>
                                    </a>
                                </li>

                                <!-- لینک مدیریت مناطق قیمت‌گذاری -->
                                <li class="menu-item">
                                    <a asp-action="RateZones" asp-controller="Pricing" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Rate Zones"> مناطق قیمت‌گذاری</div>
                                    </a>
                                </li>

                                <!-- لینک مدیریت ماهیت‌های محموله -->
                                <li class="menu-item">
                                    <a asp-action="ConsignmentNatures" asp-controller="Pricing" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Consignment Natures"> ماهیت‌های محموله</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="Packagings" asp-controller="PackagingBaseInfo" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Branch list">بسته بندی</div>
                                    </a>
                                </li>
                                <!-- لینک مدیریت آیتم‌های هزینه -->
                                <li class="menu-item">
                                    <a asp-action="CostItems" asp-controller="Pricing" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Cost Items"> آیتم‌های هزینه</div>
                                    </a>
                                </li>
                                <!--  -->
                                <li class="menu-item">
                                    <a href="javascript:void(0)" data-url="@Url.Action("InsuranceSetting", "Pricing", new { Area = "Courier" })" class="menu-link callform">
                                        <div data-i18n="Accounting Insurance Settings">  تنظیمات بیمه</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="Vehicles" asp-controller="Hub" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Cost Items"> خودروهای حمل</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="Drivers" asp-controller="Hub" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Cost Items"> رانندگان حمل</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-store-alt"></i>
                                <div data-i18n="Accounting">شعب و نمایندگان</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a asp-action="Branches" asp-controller="Branch" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Branch list">لیست شعب و نمایندگان</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="RepresentativesManager" asp-controller="Representative" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Representative Management">مدیریت نمایندگان</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" data-url="@Url.Action("AddBranch", "Branch", new { Area = "Courier" })" class="menu-link callform">
                                        <div data-i18n="Accounting Code">تعریف نمایندگی</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="BranchUser" asp-controller="BranchUser" asp-area="Courier" class="menu-link">
                                        <div data-i18n="Accounting Code">کاربران </div>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }
    
                    @if (!User.IsInRole("User"))
                    {
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-male-female"></i>
                                <div data-i18n="Home"> اشخاص و شرکت ها </div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a asp-action="PersenList" asp-controller="Persen" asp-area="" class="menu-link">
                                        <div data-i18n="Persen List">لیست اشخاص و شرکت ها </div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="ImportPersen" asp-controller="ImportBaseInfo" asp-area="DataTransfer" class="menu-link">
                                        <div data-i18n="Import Bulk Buyers">ورود گروهی اطلاعات اشخاص </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    }
                    @if (User.IsInRole("CommercialManager") || User.IsInRole("Seller") || User.IsInRole("BuyerExpert"))
                    {
                        // <li class="menu-item">
                        //     <a href="#" class="menu-link menu-toggle">
                        //         <i class="menu-icon tf-icons bx bx-cart"></i>
                        //         <div data-i18n="seller">بازرگانی </div>
                        //     </a>

                        //     @if (User.IsInRole("CommercialManager") || User.IsInRole("Seller"))
                        //     {
                        //         <ul class="menu-sub">
                        //             <li class="menu-item">
                        //                 <a href="javascript:void(0);" class="menu-link menu-toggle">
                        //                     <div data-i18n="Warehouse base info">فروش</div>
                        //                 </a>
                        //                 <ul class="menu-sub">
                        //                     <li class="menu-item">
                        //                         <a asp-action="saleInvoices" asp-controller="sale" asp-area="Commercial" class="menu-link">
                        //                             <div data-i18n="Sale Invoices">فاکتورهای فروش </div>
                        //                         </a>
                        //                     </li>

                        //                     <li class="menu-item">
                        //                         <a asp-action="bulkCreateInvoice" asp-controller="sale" asp-area="Commercial" class="menu-link">
                        //                             <div data-i18n="Sale Invoices">ورود اطلاعات گروهی فاکتور </div>
                        //                         </a>
                        //                     </li>
                        //                 </ul>
                        //             </li>
                        //         </ul>
                        //     }

                        //     @if (User.IsInRole("CommercialManager") || User.IsInRole("BuyerExpert"))
                        //     {
                        //         <ul class="menu-sub">
                        //             <li class="menu-item">
                        //                 <a href="javascript:void(0);" class="menu-link menu-toggle">
                        //                     <div data-i18n="Warehouse base info">خرید</div>
                        //                 </a>
                        //                 <ul class="menu-sub">
                        //                     <li class="menu-item">
                        //                         <a asp-action="Invoices" asp-controller="buy" asp-area="Commercial" class="menu-link">
                        //                             <div data-i18n="Product category">فاکتورهای خرید </div>
                        //                         </a>
                        //                     </li>
                        //                     <li class="menu-item">
                        //                         <a asp-action="vendors" asp-controller="buy" asp-area="Commercial" class="menu-link">
                        //                             <div data-i18n="Product category">تأمین کنندگان</div>
                        //                         </a>
                        //                     </li>
                        //                 </ul>
                        //             </li>
                        //         </ul>
                        //     }
                        // </li>
                    }
                    @if (User.IsInRole("CommercialManager"))
                    {
                        <li class="menu-item">
                            <a href="#" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-package"></i>
                                <div data-i18n="seller">انبار </div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a asp-action="products" asp-controller="product" asp-area="Warehouse" class="menu-link">
                                        <div data-i18n="products and services">کالا و خدمات </div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                                        <div data-i18n="Warehouse base info">اطلاعات پایه انبار</div>
                                    </a>
                                    <ul class="menu-sub">
                                        <li class="menu-item">
                                            <a asp-action="Warehouses" asp-controller="phWarehouse" asp-area="Warehouse" class="menu-link">
                                                <div data-i18n="Product category">انبارها </div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="ProductCategories" asp-controller="ProductCategories" asp-area="Warehouse" class="menu-link">
                                                <div data-i18n="Product category">دسته بندی </div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="unitofmeasures" asp-controller="UnitOfMeasures" asp-area="Warehouse" class="menu-link">
                                                <div data-i18n="Unit Of Measures">واحدهای اندازه گیری </div>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a asp-action="ImportProducts" asp-controller="ImportBaseInfo" asp-area="DataTransfer" class="menu-link">
                                                <div data-i18n="Unit Of Measures">ورود اطاعات گروهی کالا </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="menu-item">
                        <a href="#" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-package"></i>
                            <div data-i18n="seller">تنظیمات </div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Warehouse base info">تنظیمات ارسال SMS</div>
                                </a>
                                <ul class="menu-sub l3">
                                    <li class="menu-item">
                                        <a asp-action="PersiaFavaSetting" asp-controller="SmsServiceSettings" asp-area="" class="menu-link">
                                            <div data-i18n="Product category">پرشیا فاوا </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Warehouse base info"> درگاههای پرداخت </div>
                                </a>
                                <ul class="menu-sub l3">
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="phWarehouse" asp-area="" class="menu-link">
                                            <div data-i18n="Product category">بیت پی </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-action="" asp-controller="phWarehouse" asp-area="" class="menu-link">
                                            <div data-i18n="Product category">زرین پال</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @if (User.IsInRole("CustomerOwner"))
                    {
                        <li class="menu-item">
                            <a href="javascript:void(0)" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bxs-user"></i>
                                <div data-i18n="Layouts">مدیریت کاربران</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a asp-action="CustomerUserList" asp-controller="CustomerManager" asp-area="CustomerArea" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-group"></i>
                                        <div>لیست کاربران</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="AddCustomerUserAccount" asp-controller="CustomerManager" asp-area="CustomerArea" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-user-plus"></i>
                                        <div>کاربر جدید</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="menu-item">
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bxs-cog"></i>
                            <div data-i18n="Layouts">تنظیمات و امکانات</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a asp-action="GetCSRHagh" asp-controller="csr" asp-area="" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-key"></i>
                                    <div data-i18n="Without menu">تولید کلید عمومی وخصوصی</div>
                                </a>

                            </li>
                            <li class="menu-item">
                                <a asp-action="AddSeller" asp-controller="Seller" asp-area="" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-user-plus"></i>
                                    <div data-i18n="Without menu">تعریف شرکت جدید</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-action="Sellers" asp-controller="Seller" asp-area="" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-group"></i>
                                    <div data-i18n="Without menu">مدیریت شرکت ها</div>
                                </a>
                            </li>
                        </ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="menu-item">
                            <a href="javascript:void(0)" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-store-alt"></i>
                                <div data-i18n="Layouts" class="text-danger">گارنِت</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a asp-action="Index" asp-controller="CustomerLicense" asp-area="AvaRasta" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-user"></i>
                                        <div data-i18n="Without menu">مدیریت لایسنس</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="AddCustomer" asp-controller="AvaSale" asp-area="AvaRasta" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-user"></i>
                                        <div data-i18n="Without menu">معرفی مشتری جدید</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a asp-action="Customers" asp-controller="AvaSale" asp-area="AvaRasta" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-group"></i>
                                        <div data-i18n="Without menu">لیست مشتریان</div>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }
                    
                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar navbar navbar-expand-xl align-items-center garnet-navbar" id="layout-navbar">
                    <div class="container-fluid">
                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>
                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <div class="navbar-nav-activeseller">
                                <span class="seller">@ActiveSeller</span>
                                <span class="period @(hasPeriod==false ? " text-warning" :"") ">@PeriodLabel</span>
                            </div>
                            <ul class="navbar-nav flex-row align-items-center ms-auto">

                                <!-- Style Switcher -->
                                <li class="nav-item me-2 me-xl-0">
                                    <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                                        <i class="bx bx-sm"></i>
                                    </a>
                                </li>
                                <!--/ Style Switcher -->
                                <!-- Change Seller -->
                                <li class="nav-item me-2 me-xl-0">
                                    <a class="nav-link style-switcher-toggle hide-arrow sendMessage" data-url="@Url.Action("SendSmsSupport", "GarnetSupport", new { Area = "Support" })" href="javascript:void(0);">
                                        <i class="bx bx-support"></i>
                                    </a>
                                </li>
                                <!--/ End change Seller>

                                <!-- Quick links  -->
                                <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        <i class="bx bx-grid-alt bx-sm"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end py-0">
                                        <div class="dropdown-menu-header border-bottom">
                                            <div class="dropdown-header d-flex align-items-center py-3">
                                                <h5 class="text-body mb-0 me-auto secondary-font">میانبرها</h5>
                                            </div>
                                        </div>
                                        <div class="dropdown-shortcuts-list scrollable-container">
                                            <div class="row row-bordered overflow-visible g-0">
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon bg-label-danger rounded-circle mb-2">
                                                        <i class="bx bx-store fs-4"></i>
                                                    </span>
                                                    <a href="#" data-url="@Url.Action("SettActiveSeller", "Home", new { Area = "" })" class="sellerName" id="activeSellerName">تغییر شرکت</a>
                                                    <small class="text-muted mb-0">@ActiveSeller</small>
                                                </div>
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon bg-label-primary rounded-circle mb-2">
                                                        <i class="bx bx-plus fs-4"></i>
                                                    </span>
                                                    <a href="javascript:void(0)" class="callform" data-url="@Url.Action("SellerInfo", "Seller", new { Area = "", id = userSett.ActiveSellerId })">@ActiveSeller</a>
                                                    <small class="text-muted mb-0">سایر اطلاعات</small>
                                                </div>
                                            </div>
                                            <div class="row row-bordered overflow-visible g-0">
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                        <i class="bx bx-package fs-4"></i>
                                                    </span>
                                                    <a asp-action="GetTaxpayerInfo" asp-controller="Seller" asp-area="" asp-route-id="@userSett.ActiveSellerId" class="stretched-link">اطلاعات مودی</a>
                                                    <small class="text-muted mb-0">اطلاعات تکمیلی مودی</small>
                                                </div>
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                                                        <i class="bx bx-user fs-4"></i>
                                                    </span>
                                                    <a asp-action="AddBuyer" asp-controller="Buyer" asp-area="Buyer" class="stretched-link">تعریف مشتری</a>
                                                    <small class="text-muted mb-0">مدیریت مشتریان</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- Quick links -->
                                <!-- Notification -->
                                <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        <i class="bx bx-bell bx-sm"></i>
                                        <span class="badge bg-danger rounded-pill badge-notifications">5</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end py-0">
                                        <li class="dropdown-menu-header border-bottom">
                                            <div class="dropdown-header d-flex align-items-center py-3">
                                                <h5 class="text-body mb-0 me-auto secondary-font">اعلان‌ها</h5>
                                                <a href="javascript:void(0)" class="dropdown-notifications-all text-body" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark all as read"><i class="bx fs-4 bx-envelope-open"></i></a>
                                            </div>
                                        </li>
                                        <li class="dropdown-notifications-list scrollable-container">
                                            <ul class="list-group list-group-flush">
                                            </ul>
                                        </li>
                                        <li class="dropdown-menu-footer border-top">
                                            <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center p-3">
                                                مشاهده همه اعلان‌ها
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/ Notification -->
                                <!-- User -->
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                        <div class="avatar avatar-online">
                                            <img src="@avatarSrc" alt="Avatar" class="rounded-circle">
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar avatar-online">
                                                            <img src="@avatarSrc" alt="Avatar" class="rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <span class="fw-semibold d-block">@userFullName</span>
                                                        <small>@userRole</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-action="UserProfile" asp-controller="usermanager" asp-area="">
                                                <i class="bx bx-user me-2"></i>
                                                <span class="align-middle">پروفایل من</span>
                                            </a>
                                        </li>

                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-action="SignOut" asp-controller="Account" asp-area="">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">خروج</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/ User -->
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-fluid flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    <footer class="content-footer footer">
                        <div class="container-xxl d-flex justify-content-between flex-wrap flex-md-row ">

                            <div>
                                <span class="text-info me-3"> @DateTime.Now.mdToLongPersianDate() </span>
                            </div>
                            <div>
                                <a href="https://avaandish.ir/" target="_blank" class="footer-link me-3">
                                    Version 1.6.01 1403-11-24 <span class="footer-developername"> Garnet Developers Group</span>
                                </a>
                            </div>
                        </div>
                    </footer>
                    <!--  Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>


        <!-- Model -->
        <div class="modal fade" id="model-general-larg" tabindex="-1" style="display: none;" aria-hidden="true">
        </div>
        <div class="modal fade" id="accmodal" tabindex="-1" style="display: none;" aria-hidden="true">
        </div>
        <!-- End Model -->
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js vendor/js/core.js -->
    <!-- Core Libraries -->
    <script src="~/vendor/libs/jquery/jquery.js"></script>
    <script src="~/vendor/libs/popper/popper.js"></script>
    <script src="~/vendor/js/bootstrap.js"></script>
    <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/libs/hammer/hammer.js"></script>
    <script src="~/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/vendor/js/menu.js"></script>

    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

    <!-- Additional Vendor Scripts -->
    <script src="~/vendor/libs/choices/choices.min.js"></script>
    <script src="~/vendor/libs/dropzone/dropzone.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/vendor/libs/datatables-bs5/i18n/fa.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/jdate/jdate.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr-jdate.js"></script>
    <script src="~/vendor/libs/flatpickr/l10n/fa-jdate.js"></script>
    <script src="~/vendor/libs/jstree/jstree.js"></script>

    <!-- Main and Application-Specific Scripts -->
    <script src="~/js/main.js"></script>
    <script src="~/js/app/accprint.js" asp-append-version="true"></script>
    <script src="~/js/app/Appgarnet.js" asp-append-version="true"></script>
    <script src="~/js/app/stufflist.js" asp-append-version="true"></script>
    <script src="~/js/app/acccoding.js" asp-append-version="true"></script>
    <script src="~/js/forms-file-upload.js"></script>

    <!-- Page-Level Scripts -->
    <script src="~/js/forms-pickers.js"></script>
    <script src="~/js/forms-selects.js"></script>
    <script src="~/appfunctions/pagehome.js"></script>
    <script src="~/js/app/uisettings.js" asp-append-version="true"></script>

    <!-- Invoice  -->
    <script src="@Url.Content("~/appfunctions/salefunc.js")" asp-append-version="true"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            $(document).find('.flatpickr-input').flatpickr({
                locale: 'fa',
                altInput: true,
                altFormat: 'Y/m/d',
                allowInput: true,
                disableMobile: true
            });

            $(document).find('#tblDocs').DataTable();
            $(document).find('.select2').select2();
            $(document).find('#tblPerson').DataTable();
            $(document).find('#tblDocsSorting').DataTable({
                "paging": false
            });

            $(document).find('#tblDocsList').DataTable({
                "paging": false,
                "searching": false
            });
            // $(document).find('#tbl-accountBrowserTafsil').DataTable({
            //     "paging": false,
            //     "searching": false
            // });
            // $(document).find('#tbl-accountBrowserArt').DataTable({
            //     "paging": false,
            //     "searching": false
            // });
            //frmOldSystemSales
            $(document).find('#tblOldSystemSales').DataTable({
                "paging": false,
            });
            $(document).find('#docArticles').DataTable({
                "paging": false,
                "searching": false
            });
            $(document).find('#tblSaleInvoices').DataTable({
                "paging": false,
                "searching": false
            });

            $(document).find('#report_articles').DataTable({
                "pageLength": 50,

            });
            $(document).find('#tbl-accountBrowserKol, #tbl-accountBrowserTafsil, #tbl-accountBrowserMoein, #tbl-accountBrowserArt').DataTable({
                "paging": false,
                "searching": false
            });

            $(document).find('#tblTafsils').DataTable();

            // $(document).find('#flatpickr-Enddate').flatpickr({
            //     locale: 'fa',
            //     altInput: true,
            //     altFormat: 'Y/m/d',
            //     allowInput: true,
            //     disableMobile: true
            // });

        })

     

    </script>

</body>
</html>
