@using ParcelPro.Areas.Commercial.Dtos
  @model VmInvoices
@{
    ViewData["Title"] = "ثبت اسناد حسابداری گروهی";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="card card-panel">
    <div class="card-panel-header">
        <div><span class="card-panel-title">ثبت اسناد حسابداری گروهی</span></div>
        <div class="card-panel-navbar-container">
         
        </div>
    </div>
    <div>
        <form asp-action="saleInvoices" asp-controller="sale" asp-area="Commercial" method="get" id="frmSaleInvoiceFilter">
            <input type="hidden" asp-for="filter.CurrentPage" value="1" />
          

            <div class="row">
                <div class="col-md-9">
                    <div class="card-panel-section">
                        <div class="card-header-panel-section-header">
                            <span>فیلتـر</span>
                        </div>
                        <div class="card-header-panel-section-body">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label>نوع اطلاعات  </label>
                                        <select asp-for="filter.Party" class="form-select select2" >
                                            <option value="1" selected>فاکتورهای فروش ثبت نشده</option>
                                            <option value="2">فاکتورهای خرید ثبت نشده</option>
                                            <option value="0">پرینت بانک ثبت نشده</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label asp-for="filter.srtFromDate">از تاریخ‌</label>
                                        <input type="text" asp-for="filter.srtFromDate" class="flatpickr-input" placeholder="YYYY/MM/DD" />
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label asp-for="filter.srtToDate">تا تاریخ‌</label>
                                        <input type="text" asp-for="filter.srtToDate" class="flatpickr-input" placeholder="YYYY/MM/DD" />
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label>تعداد ردیف در هر صفحه</label>
                                        <input type="number" min="1" asp-for="filter.PageSize" value="@Model.filter.PageSize">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="form-check form-check-inline">
                                        <input asp-for="filter.Taged" class="form-check-input" type="checkbox" id="invcTaged">
                                        <label class="form-check-label" for="invcTaged">
                                            فقط فاکتورهای نشان شده
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-panel-section">
                        <div class="card-header-panel-section-header">
                            <span>عملیات</span>
                        </div>
                        <div class="card-header-panel-section-body">
                            <div class="d-grid px-2">
                                <input type="submit" class="garnet-btn garnet-btn-warning mb-1" value="نمایش" />
                            </div>
                            <div class="d-grid px-2">
                                <a href="javascript:void(0)" data-formid="frmSaleInvoiceFilter" data-url="@Url.Action("", "sale", new { Area = "Commercial" })" class="garnet-btn garnet-btn-info  mb-1 submitCustomForm">
                                   ثبت اسناد حسابداری
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body card-table">
        <div class="table-responsive text-nowrap static-height-450">
            <table class="table table-hover table-striped table-bordered" id="tblSaleInvoices">
                <thead class="table-dark">
                    <tr>

                        <th class="row-chb">
                            <input type="checkbox" class="selectAllRows" />
                            ردیف
                        </th>
                        <th>شماره </th>
                        <th>تاریخ</th>
                        <th>خریدار </th>
                        <th>نوع تسویه </th>
                        <th>جمع مشمول</th>
                        <th>جمع غیرمشمول</th>
                        <th>تخفیف</th>
                        <th>جمع پس از تخفیف</th>
                        <th>جمع ارزش افزوده</th>
                        <th>مبلغ نهایی فاکتور</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if (Model.Invoices?.Items?.Count() > 0)
                    {
                        int row = (Model.filter.CurrentPage - 1) * Model.filter.PageSize + 1;
                        foreach (var x in Model.Invoices.Items)
                        {
                            <tr class="dblc-link" data-tax="@x.TotalTaxable" data-afdis="@x.TotalPriceAfterDiscount" data-notax="@x.TotalNoTaxable" data-dis="@x.TotalDiscount" data-vat="@x.TotalVatPrice" data-due="@x.TotalFinalPrice" data-url="@Url.Action("invoice", "sale", new { Area = "Commercial", id = x.Id })">
                                <td class="row-chb">
                                    <input type="checkbox" class="tblRow px-3" name="itemId" value="@x.Id" />
                                    @row
                                </td>
                                <td class="text-center">@x.InvoiceNumber</td>
                                <td>@x.InvoiceDate.Value.LatinToPersian()</td>
                                <td>@x.PartyName</td>
                                <td>@x.SettlementTypeName</td>
                                <td>@(x.TotalTaxable > 0 ? x.TotalTaxable.ToPrice() : "0")</td>
                                <td>@(x.TotalNoTaxable > 0 ? x.TotalNoTaxable.ToPrice() : "0")</td>
                                <td>@(x.TotalDiscount > 0 ? x.TotalDiscount.ToPrice() : "0")</td>
                                <td>@(x.TotalPriceAfterDiscount > 0 ? x.TotalPriceAfterDiscount.ToPrice() : "0")</td>
                                <td>@(x.TotalVatPrice > 0 ? x.TotalVatPrice.ToPrice() : "0")</td>
                                <td>@(x.TotalFinalPrice > 0 ? x.TotalFinalPrice.ToPrice() : "0")</td>
                            </tr>
                            row++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
    <div class="card-footer">


        <div class="row">
            <div class="col-lg-7 col-md-6">
                @if (Model.Invoices?.TotalPages > 1)
                {
                    <nav aria-label="Page navigation" class="pagin mt-3">
                        <ul class="pagination pagination-sm text-center">
                            @if (Model.Invoices.HasPreviousPage)
                            {
                                <li class="page-item prev">
                                    <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="@(Model.Invoices.CurrentPage - 1)">
                                        <i class="tf-icon bx bx-chevrons-left"></i>
                                    </a>
                                </li>
                            }

                            @{
                                int totalPages = Model.Invoices.TotalPages;
                                int currentPage = Model.Invoices.CurrentPage;
                                int pageRange = 3; // تعداد صفحات قبل و بعد از صفحه فعلی

                                int startPage = Math.Max(1, currentPage - pageRange);
                                int endPage = Math.Min(totalPages, currentPage + pageRange);

                                if (startPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="1">1</a>
                                    </li>
                                    if (startPage > 2)
                                    {
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                    }
                                }

                                for (int i = startPage; i <= endPage; i++)
                                {
                                    string strActive = currentPage == i ? "active" : "";
                                    <li class="page-item @strActive">
                                        <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="@i">@i</a>
                                    </li>
                                }

                                if (endPage < totalPages)
                                {
                                    if (endPage < totalPages - 1)
                                    {
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="@totalPages">@totalPages</a>
                                    </li>
                                }
                            }

                            @if (Model.Invoices.HasNextPage)
                            {
                                <li class="page-item next">
                                    <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="@(Model.Invoices.CurrentPage + 1)">
                                        <i class="tf-icon bx bx-chevrons-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>

                }
            </div>
          
        </div>
    </div>

</div>
<script src="~/vendor/libs/jquery/jquery.js"></script>
<script src="~/appfunctions/commertialarea.js"></script>

<script type="text/javascript">

        // انتخاب تمام ردیف‌های جدول
    document.querySelectorAll('#tblSaleInvoices tbody tr').forEach(row => {
        // اضافه کردن رویداد click به هر ردیف
        row.addEventListener('click', function (event) {
            // جلوگیری از اجرا شدن رویداد کلیک اگر کاربر مستقیماً روی چک‌باکس کلیک کرده باشد
            if (event.target.type === 'checkbox') {
                return;
            }

            // یافتن چک‌باکس داخل ردیف کلیک‌شده
            const checkbox = this.querySelector('input[type="checkbox"].tblRow');

            if (checkbox) {
                // معکوس کردن وضعیت چک‌باکس
                checkbox.checked = !checkbox.checked;
                   const event = new Event('change', { bubbles: true });
                    // اعمال رویداد change به عنصر چک‌باکس
                    checkbox.dispatchEvent(event);
            }
        });
    });

</script>

