@model List<RateZoneDto>
@{
    ViewData["Title"] = "مدیریت مناطق قیمت‌گذاری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header alert-secondary p-0">
            <h5 class="custom-card-title">
                <i class="bx bxs-category-alt text-warning"></i>
                مدیریت مناطق قیمت‌گذاری
            </h5>
            <div class="section-nav">
                <div class="nav-btnbox ms-2 mb-2">
                    <a href="#" data-url="@Url.Action("AddRateZone", "Pricing", new { Area = "Courier" })" data-target="0" class="btn btn-sm btn-secondary callform">
                        ایجاد منطقه جدید
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body card-table">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>ردیف</th>
                        <th>نام منطقه</th>
                        <th>ضریب در نرخ واحد</th>
                        <th>آیا اقماری است؟</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if (Model?.Count() > 0)
                    {
                        int row = 1;
                        foreach (var x in Model)
                        {
                            <tr>
                                <td class="text-center">@row</td>
                                <td class="text-center">@x.Name</td>
                                <td class="text-center">@x.PriceBaseFactor</td>
                                <td class="text-center">@(x.IsSatellite ? "بله" : "خیر")</td>
                                <td class="row-btns text-center">
                                    <a href="#" class="callform" data-url="@Url.Action("UpdateRateZone", "Pricing", new { Area = "Courier", id = x.ZoneId })">
                                        <i class="bx bx-edit-alt text-gray" title="ویرایش"></i>
                                    </a>
                                    <a href="#" class="removeById" data-url="@Url.Action("DeleteRateZone", "Pricing", new { Area = "Courier" })" data-target="@x.ZoneId">
                                        <i class="bx bx-trash text-warning" title="حذف"></i>
                                    </a>
                                </td>
                            </tr>
                            row++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                منطقه قیمت‌گذاری در سیستم ثبت نشده است
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer p-4">
    </div>
</div>