@model List<KolDto>


<div class="card">
    <div class="card-header alert-secondary p-0">
        <h5 class="custom-card-title">
            <i class="bx bxs-category-alt text-warning"></i>
            سرفصل حساب های کل
        </h5>
        <div class="section-nav">
            <ul>
                <li>
                    <a class="accountBrowserNav_tafsil" asp-action="Groups" asp-controller="AccCoding" asp-area="">
                        <span class="text-secondary">گروه حساب ها</span>
                    </a>
                </li>
                <li class="text-warning verticaldivider">
                    <span>|</span>
                </li>
                <li>
                    <span class="text-primary nav-pagenametext">@ViewBag.GroupName</span>
                </li>
            </ul>
            <div class="nav-btnbox pe-2">
                <a href="#" data-url="@Url.Action("AddKol","AccCoding",new{Area="",groupId=ViewBag.GroupId, groupName=ViewBag.GroupName, groupCode= ViewBag.GroupCode})" class="btn btn-sm btn-secondary callform">
                    ایجاد حساب کل
                </a>
            </div>
        </div>
    </div>

    <div class="card-body card-table">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>ردیف</th>
                        <th>گروه حساب</th>
                        <th>کد حساب</th>
                        <th>نام حساب</th>
                        <th>نوع حساب</th>
                        <th>ماهیت</th>
                        <th>شرح</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if (Model?.Count() > 0)
                    {
                        int row = 1;
                        foreach (var x in Model)
                        {
                            <tr class="accCoding" data-url="@Url.Action("Moeins","AccCoding",new{Area="",kolId=x.Id,groupname=x.GroupName, kolname=x.KolName, kolCode=x.KolCode, groupId=x.GroupId})">
                                <td>@row</td>
                                <td>@x.GroupName</td>
                                <td>@x.KolCode</td>
                                <td>@x.KolName</td>
                                <td>@x.TypeName</td>
                                <td>@x.NatureName</td>
                                <td>@x.Description</td>
                                <td class="row-btns text-center">
                                    <a href="#" class="callform" data-url="@Url.Action("EditKol","AccCoding", new{Area="", id=x.Id})"><i class="bx bx-edit-alt text-gray" title="ویرایش"></i></a>
                                    <a href="#" class="removeById" data-url="@Url.Action("DeleteKol","AccCoding", new{Area=""})" data-target="@x.Id"><i class="bx bx-trash text-warning" title="حذف"></i></a>
                                </td>
                            </tr>

                            row++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center p-3">
                                <div class="alert alert-primary mb-3" role="alert">
                                    سرفصلی در گروه <strong class="text-warning">@ViewBag.GroupName</strong>  ایجاد نشده است.
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>


        </div>
    </div>
    <div class="card-footer p-4">
        <div class="alert alert-primary alert-dismissible help-box" role="alert">
            <h6 class="alert-heading mb-1"><i class="bx bx-xs bx-command me-2 text-warning"></i>توجـه!</h6>
            <ul>
                <li>حساب های پیش فرض، قابل حذف یا ویرایش نمی باشند</li>
                <li>برای ایجاد سرفصل جدید از دکمه ی <span class="mx-2 text-info">ایجاد حساب کل </span> که در بالای صفحه قرارداد استفاده کنید</li>
                <li>جهت مشاهده و مدیریت حساب معین، بروی حساب موردنظرتان دابل کلیک کنید</li>
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>





