@model AddParcelDto

<div class="modal-dialog dataentry-modal">
    <div class="modal-content consignment-modal">
        <div class="add-consigment-header mb-3 mt-2">
            <div class="add-consigment-header-item">
                <h4 class="text-primary mb-0">قبول مرسـوله</h4>
            </div>
            <div class="add-consigment-header-item d-flex align-items-center">
                <div>
                    <i class="bx bx-tag text-primary me-1" aria-hidden="true"></i>
                    <span>@Model.BillOfLading.WaybillNumber</span>
                </div>
                <div>
                    <i class="bx bxs-map text-primary me-1" aria-hidden="true"></i>
                    <span>@Model.BillOfLading.DestinationCity</span>
                </div>
                <div>
                    <i class="bx bx-calendar text-primary me-1" aria-hidden="true"></i>
                    <span>@DateTime.Now.LatinToPersian()</span>
                </div>
            </div>
        </div>
        <form asp-action="AddConsigment" asp-controller="Billoflading" asp-area="Courier" method="post" class="mt-3">

            <input type="hidden" asp-for="Consigmen.Id" value="@Guid.NewGuid()" />
            <input type="hidden" asp-for="Consigmen.BillOfLadingId" value="@Model.BillOfLading.BillOdLadingId" />
            <input type="hidden" asp-for="Consigmen.CreatedBy" value="@User.Identity.Name" />
            <input type="hidden" asp-for="Consigmen.Code" value="none" />
            <input type="hidden" asp-for="Consigmen.SellerId" value="@Model.BillOfLading.SellerId" />
            <input type="hidden" asp-for="Consigmen.UserId" value="@ViewBag.UserId" />
            <input type="hidden" asp-for="Consigmen.BillOfLadingNumber" value="@Model.BillOfLading.WaybillNumber" />

            <div class="row">
                <div class="col-md-7">
                    <h5 class="form-section-title">مشخصات بار</h5>
                    <ul class="list-control">
                        <li>
                            <label asp-for="Consigmen.NatureTypeId"></label>
                            <select id="addCon_nature" class="form-select form-select-sm firstSelect gonext" asp-for="Consigmen.NatureTypeId" asp-items="ViewBag.Natures">
                            </select>
                        </li>
                        <li class="mb-4">
                            <label asp-for="Consigmen.ContentDescription"></label>
                            <textarea rows="2" id="frequentItems" class="form-control form-control-sm gonext" asp-for="Consigmen.ContentDescription"></textarea>
                        </li>
                        <li class="mb-4">
                            <label asp-for="Consigmen.Value"></label>
                            <input type="text" id="addCon_ParcelValue" class="form-control form-control-sm numberInput gonext" value="0" asp-for="Consigmen.strValue" />
                        </li>

                    </ul>
                </div>
                <div class="col-md-5">
                    <h5 class="form-section-title">وزن و ابعاد</h5>
                    <ul class="list-control">
                        <li class="mb-2">
                            <label asp-for="Consigmen.Length"></label>
                            <input type="number" id="addCon_length" class="form-control form-control-sm gonext" min="0" value="0" asp-for="Consigmen.Length" />
                            <span>cm</span>
                        </li>
                        <li class="mb-2">
                            <label asp-for="Consigmen.Width"></label>
                            <input type="number" id="addCon_width" class="form-control form-control-sm gonext" min="0" value="0" asp-for="Consigmen.Width" />
                            <span>cm</span>
                        </li>
                        <li class="mb-2">
                            <label asp-for="Consigmen.Height"></label>
                            <input type="number" id="addCon_height" class="form-control form-control-sm gonext" min="0" value="0" asp-for="Consigmen.Height" />
                            <span>cm</span>
                        </li>
                        <li class="mb-4">
                            <label asp-for="Consigmen.Volume">وزن حجمی</label>
                            <input type="number" id="addCon_Volume" class="form-control form-control-sm gonext" min="0" value="0" asp-for="Consigmen.Volume" />
                            <span>kg</span>
                        </li>
                        <li>
                            <label asp-for="Consigmen.Weight">وزن واقعی</label>
                            <input type="text" id="addCon_weight" class="form-control form-control-sm gonext" asp-for="Consigmen.Weight" value="0.5" />
                            <span>kg</span>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h5 class="form-section-title">بسته بندی</h5>
                    <ul class="list-control">
                        <li>
                            <label asp-for="Consigmen.PackageTypeId"> بسته بندی</label>
                            <select id="addConsigment_packagingList" class="form-select form-select-sm gonext" asp-for="Consigmen.PackageTypeId" asp-items="ViewBag.Packages">
                                <option value="0" selected>انتخاب بسته بندی ..</option>
                            </select>
                        </li>
                        <li>
                            <label asp-for="Consigmen.PackagingCost">هزینه بسته بندی</label>
                            <input type="text" id="addConsigment_packageCost" class="form-control form-control-sm numberInput" readonly />
                            <span>ريال</span>
                        </li>
                        <li class="mb-4">
                            <label asp-for="Consigmen.ServiceInformation">ملاحظات</label>
                            <textarea rows="6" class="form-control form-control-sm gonext" asp-for="Consigmen.ServiceInformation"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 ">
                    <h5 class="form-section-title text-primary">هزینه ارسال</h5>
                    <div class="billing-container">
                        <ul class="list-control">
                            <li>
                                <label asp-for="Consigmen.CargoFare">هزینه حمل</label>
                                <input type="text" id="ParcelCost" class="form-control form-control-sm numberInput" readonly asp-for="Consigmen.strCargoFare" value="@ViewBag.defaulPrice" />
                                <span>ريال</span>
                            </li>
                            <li>
                                <label asp-for="Consigmen.PackagingCost">بسته بندی</label>
                                <input type="text" id="PackagingCost" class="form-control form-control-sm numberInput gonext" asp-for="Consigmen.strPackagingCost" value="0" />
                                <span>ريال</span>
                            </li>
                            <li>
                                <label asp-for="Consigmen.OtherCost">سایر هزینه ها</label>
                                <input type="text" id="otherCost" class="form-control form-control-sm numberInput gonext" asp-for="Consigmen.strOtherCost" value="0" />
                                <span>ريال</span>
                            </li>
                            <li>
                                <label asp-for="Consigmen.InsuranceCost">بیمه</label>
                                <input type="text" id="insuranceCost" class="form-control form-control-sm numberInput gonext" asp-for="Consigmen.strInsuranceCost" value="@ViewBag.defaulInsuranceCost" readonly />
                                <span>ريال</span>
                            </li>
                            <li>
                                <label asp-for="Consigmen.Discount">درصد تخفیف</label>
                                <input type="number" id="DiscountRate" class="form-control form-control-sm gonext" value="0" min="0" max="@Model.BillOfLading.MaxDiscountRate" />
                                <span>درصد</span>
                            </li>
                            <li>
                                <label asp-for="Consigmen.Discount">تخفیف</label>
                                <input type="text" id="Discount" class="form-control form-control-sm numberInput gonext" asp-for="Consigmen.strDiscount" value="0" readonly />
                                <span>ريال</span>
                            </li>
                            <li>
                                <label asp-for="Consigmen.VatPrice">ارزش افزوده</label>
                                <input type="text" id="VatPrice" class="form-control form-control-sm numberInput" readonly asp-for="Consigmen.strVatPrice" value="0" />
                                <span>ريال</span>
                            </li>
                            <li class="billing-total">
                                <label asp-for="Consigmen.TotalPrice">مبلغ نهایی</label>
                                <input type="text" id="TotalPrice" class="form-control form-control-sm numberInput" readonly asp-for="Consigmen.strTotalPrice" />
                                <span>ريال</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2 p-3">
                <button type="button" class="btn btn-secondary accAjaxSubmit">قبول مرسوله</button>
                <button type="reset" class="btn btn-label-warning btn-reset" data-bs-dismiss="modal" aria-label="Close">
                    انصراف
                </button>
            </div>
        </form>
    </div>
</div>


<script src="~/appfunctions/billoflading.js"></script>

<script type="text/javascript">

     $(document).ready(function (){
         computeFinalPrice();
        let input_parcelCost = $('#ParcelCost');
        let input_packageCost = $('#PackagingCost');
        let input_insuranceCost = $('#insuranceCost');
        let input_discount = $('#Discount');
        let input_otherCost= $('#otherCost');
        let input_vatPrice = $('#VatPrice');

        //--------------------------------------------------------------
        let serviceId = "@Html.Raw(Model.BillOfLading.ServiceId)";
        let routeId = "@Html.Raw(Model.BillOfLading.RouteId)";
        let sellerId = "@Html.Raw(Model.BillOfLading.SellerId)";


        $('#addCon_nature').on('change', function () {

            let natureId = $('#addCon_nature').val();
            let weight = $('#addCon_weight').val() || 0;

            let actionUrl = "@Url.Action("computeParcellPrice", "Billoflading", new { Area = "Courier" })";

           calculatePrice(actionUrl, natureId, serviceId, routeId, sellerId, weight);
        });

         $('#addCon_weight').on('change', function () {

            let natureId = $('#addCon_nature').val();
            let weight = $(this).val() || 0;

            let actionUrl = "@Url.Action("computeParcellPrice", "Billoflading", new { Area = "Courier" })";
            calculatePrice(actionUrl, natureId, serviceId, routeId, sellerId, weight);
        });

         $('#addConsigment_packagingList').change(function () {

            let costInput = $('#addConsigment_packageCost');
            let inputPackageCost = $('#PackagingCost');
            let actionUrlBase = '@Url.Action("GetPakcageCost", "Billoflading", new { Area = "Courier" })';
            let actionUrl = actionUrlBase +'/'+$(this).val();

            $.get(actionUrl).done(function(resp){
                var price =parseFloat(resp);
                 costInput.val(price.toLocaleString());
                inputPackageCost.val(price.toLocaleString());
                  computeFinalPrice();
            });
        });

         input_packageCost.on('input', computeFinalPrice);
         input_discount.on('input', computeFinalPrice);
         input_vatPrice.on('input', computeFinalPrice);
         input_otherCost.on('input', computeFinalPrice);

             $('#Consigmen.NatureTypeId').change(function () {
        computeFinalPrice();
     });
        $('#PackagingCost').change(function () {
            computeFinalPrice();
        });
     });


    function calculatePrice(actionUrl, nature, service, route, seller, weight) {
        $.ajax({
            url: actionUrl,
            type: 'POST',
            data: {
                NatureId: nature,
                ServiceId: service,
                RouteId: route,
                SellerId: seller,
                Weight: weight
            },
            dataType: 'json'
        }).done(function (response) {

            let jasonResult = JSON.parse(response);
            let price = parseInt(jasonResult['Price'], 10);

            $('#ParcelCost').val(price.toLocaleString());
            computeFinalPrice();

        }).fail(function (xhr, status, error) {
            console.error('Request failed:', error);
        });
    }

    // ============================================================================================ Calculate InsuranceCost

     $('#addCon_ParcelValue').change(function () {

          let parcelValue= parseFloat($(this).val().replace(/,/g, ''));
           calculateInsuranceCost(parcelValue);
        computeFinalPrice();

     });


    function calculateInsuranceCost(parcelValue){
        let actionUrl = '@Url.Action("CalculateInsuranceCost", "Pricing", new { Area = "Courier" })';
        $.ajax({
            url: actionUrl,
            type: 'POST',
            data: {
                amount: parcelValue
            },
            dataType: 'json'
        }).done(function (response) {
            let price = parseInt(response);

            $('#insuranceCost').val(price.toLocaleString());
            computeFinalPrice();

        }).fail(function (xhr, status, error) {
            console.error('Request failed:', error);
        });
    }


    //========================================================== Compute Final Price ========================================
    function computeFinalPrice() {

        var VatRate="@Model.BillOfLading.VatRate";
        // خواندن مقادیر ورودی‌ها
        var parcelCost = parseFloat($("#ParcelCost").val().replace(/,/g, '')) || 0;
        var packagingCost = parseFloat($("#PackagingCost").val().replace(/,/g, '')) || 0;

        var discount = computeDiscount(parcelCost);
        var otherCost = parseFloat($("#otherCost").val().replace(/,/g, '')) || 0;

        var insuranceCost = parseFloat($("#insuranceCost").val().replace(/,/g, '')) || 0;

        var beforeVat=   parcelCost + packagingCost + otherCost+ insuranceCost - discount;
        var vatPrice =  (beforeVat * VatRate) /100;
        // محاسبه مبلغ نهایی
        var totalPrice = parcelCost + packagingCost +otherCost+ insuranceCost - discount + vatPrice;

        // تنظیم مقدار مبلغ نهایی با فرمت‌بندی عدد
        $("#VatPrice").val(vatPrice.toLocaleString());
        $("#TotalPrice").val(totalPrice.toLocaleString());
    }
      //===========================================================  کنترل ورودی تخفیف ===============================


        $('#DiscountRate').on('input', function () {
                 let discountMaxRate="@Html.Raw(Model.BillOfLading.MaxDiscountRate)";
                let discountRate = parseFloat($('#DiscountRate').val()) || 0;
               
                if(discountRate > discountMaxRate)
                {
                    alert("درصد تخفیف از حد مجاز بیشتر است");
                    $('#DiscountRate').val(discountMaxRate);
                }
         
            computeFinalPrice();
        });

        function computeDiscount(price){
            let discountRate = parseFloat($('#DiscountRate').val()) || 0;
            let discount = (price * discountRate) /100;
            $('#Discount').val(discount.toLocaleString());
            return discount;
                
        };

    //============================================================= محاسبه وزن حجمی  =========================================
        function calculateVolume() {
        const length = parseFloat($('#addCon_length').val()) || 0;
        const width = parseFloat($('#addCon_width').val()) || 0;
        const height = parseFloat($('#addCon_height').val()) || 0;

        const volume = (length * width * height) / 6000;

        $('#addCon_Volume').val(volume.toFixed(2));
    }

    $('#addCon_length, #addCon_width, #addCon_height').on('input', calculateVolume);



    //======================================
    $(function(){
        // لیستی از موارد پرکاربرد؛ .
        var items = [
            "اوراق فاقد ارزش ریالی",
            "نمونه آزمایشگاهی / پزشکی",
            "مواد خوراکی فاسد شدنی"
        ];

        $("#frequentItems").autocomplete({
            source: items,
            minLength: 1
        });
    });

</script>