@model BillDataViewModel

<div class="modal-dialog fit mxw-500">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">تغییر روش تسویه حساب بارنامه</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
        </div>

        <div class="modal-body">

            <form method="post" asp-action="ChangeSettelmenttype" asp-controller="Billoflading" asp-area="Courier">
                <div class="row p-4">
                    <div class="payInfo paymentrecords">
                        <h3 class="text-success">اطلاعات بارنامه</h3>
                        <h4 class="text-light">@Model.WaybillNumber</h4>
                        <h4 class="text-danger">@Model.SettelmentTYpeId?.ToSettelmentTypeName()</h4>
                        <ul>
                            <li>
                                <label>تاریخ ایجاد بارنامه </label>
                                <span>@Model.IssuanceDate.LatinToPersian()</span>
                            </li>
                            <li>
                                <label>مسیـر </label>
                                <span>@Model.RouteName</span>
                            </li>
                            <li>
                                <label>نوع سرویس </label>
                                <span>@Model.ServiceName</span>
                            </li>
                            <li>
                                <label>فرستنده </label>
                                <span>@Model.SenderName</span>
                            </li>
                            <li>
                                <label>گیرنده</label>
                                <span>@Model.ReciverName</span>
                            </li>
                            <li>
                                <label>مبلغ بارنامه</label>
                                <span>@Model.TotalPrice.ToPrice() <span>ريال</span></span>
                            </li>
                        </ul>

                    </div>

                    <input type="hidden" asp-for="ChangeSettelmentModel.BillId" value="@Model.Id" />
                    <div class="mb-2 mt-2">
                        <label>نوع تسویه حساب</label>
                        <select class="form-select mb-2" asp-for="ChangeSettelmentModel.settelmentTypeId" id="select_SettelmentType">
                            <option>انتخاب ... </option>
                            <option value="1">نقدی</option>
                            <option value="2">پسکرایه</option>
                            <option value="3">اعتباری</option>

                        </select>
                        <div class="selectparty mb-2">
                            <label>طرف حساب اعتباری را از لیست زیر انتخاب کنید</label>
                            <select class="form-select select2 gonext" asp-for="ChangeSettelmentModel.PartyId" id="ddlParty" asp-items="ViewBag.Clients">
                                <option value="null">انتخاب طرف حساب ...</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-grid mb-2 p-2">
                        <button type="button" class="btn btn-warning accAjaxSubmit">بروزرسانی روش تسویه حساب بارنامه </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




