 @model VmInvoices
@{
    var items = Model.Invoices.Items.ToList();
    decimal? TotalTaxable = items.Sum(n => n.TotalTaxable);
    decimal? totalDiscount = items.Sum(n => n.TotalDiscount);
    decimal? TotalNoTaxable = items.Sum(n => n.TotalNoTaxable);
    decimal? totalVat = items.Sum(n => n.TotalVatPrice);
    decimal? finalPrice = items.Sum(n => n.TotalFinalPrice);
}


<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>گزارش فروش</title>
    <link href="~/css/printinvoice.css" rel="stylesheet" />
    <link href="~/css/font.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</head>
<body>
    <div class="side">
        <div class="toolbar no-print">
            <button class="button print-button" onclick="printPage()">
                <i>🖨️</i> پرینت
            </button>
            <button class="button pdf-button" onclick="exportToPDF()">
                <i><img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" width="16"></i> PDF
            </button>
            <button class="button print-button" onclick="exportToExcel()">
                <i>📊</i> ذخیره به Excel
            </button>

            <button class="button share-button" onclick="sharePDF()">
                <i>📤</i> اشتراک‌گذاری
            </button>
            <a asp-action="saleInvoices" asp-controller="sale" asp-area="Commercial" class="button close-button">
                <i>⬅️</i> بازگشت
            </a>

        </div>
        <div class="side-brand">
            <h1>@ViewBag.SellerName</h1>
        </div>
    </div>
    <div class="container">
        <!-- دکمه‌های پرینت و PDF و بستن -->

        <table class="table accounts-table" id="tbl-invoice">
            <thead>
                <tr>
                    <th colspan="10" style="border: none; background: white;">
                        <div class="header-content">
                            <h3>@ViewBag.SellerName</h3>
                            <h5>@ViewBag.ReportTitle</h5>
                            <div class="reportInfo">
                                <p><span class="mx-1">@ViewBag.ReportDate</span></p>
                                <p><label>تاریخ تهیه: </label><span class="mx-1">@DateTime.Now.LatinToPersian()</span></p>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th class="row-chb">
                        ردیف
                    </th>
                    <th>شماره فاکتور</th>
                    <th>تاریخ</th>
                    <th>خریدار </th>
                    <th>نوع تسویه </th>
                    <th>مشمول</th>
                    <th>غیرمشمول</th>
                    <th>تخفیف</th>
                    <th>جمع ارزش افزوده</th>
                    <th>مبلغ نهایی فاکتور</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Invoices.Items.Count() > 0)
                {
                    int row = 1;
                    foreach (var x in Model.Invoices.Items)
                    {
                        <tr>
                            <td>
                                @row
                            </td>
                            <td>@x.InvoiceNumber</td>
                            <td>@x.InvoiceDate.Value.LatinToPersian()</td>
                            <td>@x.PartyName</td>
                            <td>@x.SettlementTypeName</td>
                            <td>@(x.TotalTaxable > 0 ? x.TotalTaxable.ToPrice() : "0")</td>
                            <td>@(x.TotalNoTaxable > 0 ? x.TotalNoTaxable.ToPrice() : "0")</td>
                            <td>@(x.TotalDiscount > 0 ? x.TotalDiscount.ToPrice() : "0")</td>
                            <td>@(x.TotalVatPrice > 0 ? x.TotalVatPrice.ToPrice() : "0")</td>
                            <td>@(x.TotalFinalPrice > 0 ? x.TotalFinalPrice.ToPrice() : "0")</td>
                        </tr>
                        row++;
                    }
                    <tr class="total">
                         <td colspan="5">جمع :</td>
                         <td>@TotalTaxable.ToPrice()</td>
                        <td>@TotalNoTaxable.ToPrice()</td>
                         <td>@totalDiscount.ToPrice()</td>
                         <td>@totalVat.ToPrice()</td>
                         <td>@finalPrice.ToPrice()</td>
                     </tr>
                }
                else
                {
                    <tr>
                        <td colspan="10" class="text-center p-2 "> اطلاعاتی جهت نمایش وجود ندارد</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <script src="~/fonts/yekanbakhbase64.js"></script>
    <script>

        //Print
        function printPage() {
            window.print();
        }
        function exportToPDF() {
            // document.querySelectorAll('.no-print').forEach(el => el.style.display = 'none');
            const element = document.querySelector(".container");
            html2pdf()
                .set({
                    filename: 'فاکتور.pdf',
                    html2canvas: { scale: 2 },
                    jsPDF: { orientation: 'landscape', unit: 'mm', format: 'a4', margin: [20, 20, 20, 20] }
                })
                .from(element)
                .save();
        }

        //--------------------
        async function sharePDF() {
            const element = document.querySelector(".container");

            html2pdf()
                .set({
                    filename: 'فاکتور.pdf',
                    html2canvas: { scale: 2 },
                    jsPDF: { orientation: 'landscape', unit: 'mm', format: 'a4', margin: [20, 20, 20, 20] }
                })
                .from(element)
                .outputPdf('blob')
                .then(async function (pdfBlob) {
                    const pdfFile = new File([pdfBlob], 'فاکتور.pdf', { type: 'application/pdf' });

                    if (navigator.canShare && navigator.canShare({ files: [pdfFile] })) {
                        try {
                            await navigator.share({
                                files: [pdfFile],
                                title: 'اشتراک‌گذاری فاکتور',
                                text: 'فاکتور فروش را ببینید.',
                            });
                        } catch (error) {
                            console.error('اشتراک‌گذاری انجام نشد: ', error);
                        }
                    } else {
                        alert('این مرورگر امکان اشتراک‌گذاری فایل را ندارد. لطفاً با مرورگری دیگر امتحان کنید.');

                    }
                });
        }

        function exportToExcel() {
            // گرفتن اطلاعات جدول
            const element = document.getElementById("tbl-invoice");
            const worksheet = XLSX.utils.table_to_sheet(element);

            // تنظیمات راست به چپ برای محتوای فارسی
            worksheet['!rtl'] = true;

            for (let cell in worksheet) {
                if (worksheet[cell] && typeof worksheet[cell] === 'object') {
                    worksheet[cell].s = {
                        alignment: {
                            horizontal: 'right',
                            readingOrder: 2 
                        }
                    };
                }
            }

            const workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet, "گزارش فروش");

            const reportTitle = "@Html.Raw(ViewBag.ReportTitle)";
            const reportDate = "@Html.Raw(ViewBag.ReportDate)";
            const fileName = `${reportTitle}-${reportDate}.xlsx`;

            XLSX.writeFile(workbook, fileName);
        }


    </script>

</body>
</html>