 @model VmInvoices
@{
    ViewData["Title"] = "فاکتورهای فروش به تفکیک مشتری";
    Layout = "~/Views/Shared/_Layout.cshtml";

    decimal? TotalTaxable = 0;
    decimal? totalDiscount = 0;
    decimal? TotalNoTaxable = 0;
    decimal? totalVat = 0;
    decimal? finalPrice = 0;
}


<div class="card card-panel">
    <div class="card-panel-header">
        <div><span class="card-panel-title">فاکتورهای فروش به تفکیک مشتری</span></div>
        <div class="card-panel-navbar-container">
            <ul class="card-panel-navbar">
                <li>
                    <a href="javascript:void(0)" data-url="@Url.Action("CreateSaleInvoice", "sale", new { Area = "Commercial" })" class="quickaccess-link callform">
                        <i class="bx bx-cart-add"></i>
                        <span>فاکتور فروش جدید</span>
                    </a>
                </li>
                <li>
                    <a class="quickaccess-link" asp-action="saleReports" asp-controller="sale" asp-area="Commercial">
                        <i class="bx bx-printer"></i>
                        <span>لیست فاکتورهای فروش</span>
                    </a>
                </li>
                <li>
                    <a class="uickaccess-link" asp-action="PersenList" asp-controller="Persen" asp-area="">
                        <i class="bx bx-group"></i>
                        <span>اشخاص و شرکت ها</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <form asp-action="saleReports" asp-controller="sale" asp-area="Commercial" method="get" id="frmSaleReportFilter">
            <input type="hidden" asp-for="filter.CurrentPage" value="1" />
            <input type="hidden" asp-for="filter.Invoicetype" value="2" />

            <div class="row">
                <div class="col-md-9">
                    <div class="card-panel-section">
                        <div class="card-header-panel-section-header">
                            <span>فیلتـر</span>
                        </div>
                        <div class="card-header-panel-section-body">
                            <div class="row">
                                <div class="col-md-2 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label asp-for="filter.InvoiceNumber">‌شماره فاکتور</label>
                                        <input type="number" class="text-center" asp-for="filter.InvoiceNumber">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label asp-for="filter.srtFromDate">از تاریخ‌</label>
                                        <input type="text" asp-for="filter.srtFromDate" class="flatpickr-input" placeholder="YYYY/MM/DD" />
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label asp-for="filter.srtToDate">تا تاریخ‌</label>
                                        <input type="text" asp-for="filter.srtToDate" class="flatpickr-input" placeholder="YYYY/MM/DD" />
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label>خریدار  </label>
                                        <select asp-for="filter.Party" class="select2" asp-items="@ViewBag.buyers">
                                            <option value="null" selected>همه</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label>جستجو در شرح </label>
                                        <input type="text" class="text-center" asp-for="filter.Remark">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="form-check form-check-inline">
                                        <input asp-for="filter.Taged" class="form-check-input" type="checkbox"  id="invcTaged">
                                        <label class="form-check-label" for="invcTaged">
                                           فقط فاکتورهای نشان شده
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="garnet-input-group1 garnet-input-group-light">
                                        <label>تعداد ردیف در هر صفحه</label>
                                        <input type="number" min="1" asp-for="filter.PageSize" value="@Model.filter.PageSize">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-panel-section">
                        <div class="card-header-panel-section-header">
                            <span>عملیات</span>
                        </div>
                        <div class="card-header-panel-section-body">
                            <div class="d-grid px-2">
                                <input type="submit" class="garnet-btn garnet-btn-warning mb-1" value="نمایش" />
                            </div>
                            <div class="d-grid px-2">
                                <a href="javascript:void(0)" data-formid="frmSaleInvoiceFilter" data-url="@Url.Action("print_saleInvoices", "sale", new { Area = "Commercial" })" class="garnet-btn garnet-btn-info  mb-1 submitCustomForm">
                                    چاپ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body card-table">
        <div class="table-responsive text-nowrap static-height-450">
            <table class="table table-hover table-striped table-bordered" id="tblSaleInvoices">
                <thead class="table-dark">
                    <tr>
                        <th class="row-chb">
                            <input type="checkbox" class="selectAllRows" />
                            ردیف
                        </th>
                        <th>خریدار </th>
                        <th>تعداد </th>
                        <th>جمع مشمول</th>
                        <th>جمع غیرمشمول</th>
                        <th>تخفیف</th>
                        <th>جمع ارزش افزوده</th>
                        <th>مبلغ نهایی فاکتور</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @if (Model.Invoices.Items.Count() > 0)
                    {
                        int row = 1;
                        foreach (var x in Model.Invoices.Items)
                        {
                            <tr>
                                <td class="row-chb">
                                    <input type="checkbox" class="tblRow px-3" name="itemId" value="@x.Id" />
                                    @row
                                </td>
                                <td>@x.PartyName</td>
                                <td class="text-center">@x.InviceQty</td>
                                <td>@(x.TotalTaxable > 0 ? x.TotalTaxable.ToPrice() : "0")</td>
                                <td>@(x.TotalNoTaxable > 0 ? x.TotalNoTaxable.ToPrice() : "0")</td>
                                <td>@(x.TotalDiscount > 0 ? x.TotalDiscount.ToPrice() : "0")</td>
                                <td>@(x.TotalVatPrice > 0 ? x.TotalVatPrice.ToPrice() : "0")</td>
                                <td>@(x.TotalFinalPrice > 0 ? x.TotalFinalPrice.ToPrice() : "0")</td>
                                <td>
                                    <a href="javascript:void(0)" data-formid="frmSaleReportFilter" data-partyId="@x.PartyId" data-url="@Url.Action("saleInvoices", "sale", new { Area = "Commercial" })" class="btn btn-sm btn-info getcustomerInvoices">
                                      مشاهده فاکتور(ها)
                                    </a>
                                </td>
                            </tr>
                            //
                            TotalTaxable += x.TotalTaxable;
                            totalDiscount += x.TotalDiscount;
                            TotalNoTaxable += x.TotalNoTaxable;
                            totalVat += x.TotalVatPrice;
                            finalPrice += x.TotalFinalPrice;

                            row++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
    <div class="card-footer">


        <div class="row">
            <div class="col-lg-7 col-md-6">
                @if (Model.Invoices.TotalPages > 1)
                {
                    <nav aria-label="Page navigation" class="pagin mt-3">
                        <ul class="pagination pagination-sm text-center">
                            @if (Model.Invoices.HasPreviousPage)
                            {
                                <li class="page-item prev">
                                    <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="@(Model.Invoices.CurrentPage - 1)">
                                        <i class="tf-icon bx bx-chevrons-left"></i>
                                    </a>
                                </li>
                            }

                            @{
                                int totalPages = Model.Invoices.TotalPages;
                                int currentPage = Model.Invoices.CurrentPage;
                                int pageRange = 3; // تعداد صفحات قبل و بعد از صفحه فعلی

                                int startPage = Math.Max(1, currentPage - pageRange);
                                int endPage = Math.Min(totalPages, currentPage + pageRange);

                                if (startPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="1">1</a>
                                    </li>
                                    if (startPage > 2)
                                    {
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                    }
                                }

                                for (int i = startPage; i <= endPage; i++)
                                {
                                    string strActive = currentPage == i ? "active" : "";
                                    <li class="page-item @strActive">
                                        <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="@i">@i</a>
                                    </li>
                                }

                                if (endPage < totalPages)
                                {
                                    if (endPage < totalPages - 1)
                                    {
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="@totalPages">@totalPages</a>
                                    </li>
                                }
                            }

                            @if (Model.Invoices.HasNextPage)
                            {
                                <li class="page-item next">
                                    <a class="page-link" data-formid="frmSaleInvoiceFilter" data-currentpage="@(Model.Invoices.CurrentPage + 1)">
                                        <i class="tf-icon bx bx-chevrons-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>

                }
            </div>
            <div class="col-lg-5 col-md-6">
                <ul class="docfooter-totalAmounts totalAmounts1">
                    <li class="totalAmounts1-title">
                        <span class="text-warning">جمع صفحه</span>
                    </li>
                    <li>
                        <label>جمع فروش مشمول  : </label>
                        <div>
                            <input type="text" readonly value="@TotalTaxable.ToPrice()" />
                            <span class="text-sm-end">ريال</span>
                        </div>
                    </li>
                    <li>
                        <label>جمع فروش غیرمشمول : </label>
                        <div>
                            <input type="text" readonly value="@TotalNoTaxable.ToPrice()" />
                            <span class="text-sm-end">ريال</span>
                        </div>
                    </li>
                    <li>
                        <label>جمع تخفیفات : </label>
                        <div>
                            <input type="text" readonly value="@totalDiscount.ToPrice()" />
                            <span class="text-sm-end">ريال</span>
                        </div>
                    </li>
                    <li>
                        <label>جمع ارزش افزوده : </label>
                        <div>
                            <input type="text" readonly value="@totalVat.ToPrice()" />
                            <span class="text-sm-end">ريال</span>
                        </div>
                    </li>
                    <li>
                        <label>مبلغ نهایی  : </label>
                        <div>
                            <input type="text" readonly value="@finalPrice.ToPrice()" />
                            <span class="text-sm-end">ريال</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>

